/* Setting the size of the slides (size of each image) */
.slides-wrapper, .slide, .slide div {
	height: 280px;
	width: 480px;
}
.slide {
	width: 1440px; /* Three times the size of each image */
}


/* White Border */
.slides-wrapper {			/* Margin for the white border */
	margin-left:10px;    /* Set these values according to your will */
	margin-top:10px;		/* Remember to adjust .slider-gen-wrapper's */ 
}								/*	width & height when changing these values */


/* Next height and width values are set to 20px bigger then first values values.
That's to create the white border. */
.slider-gen-wrapper {
	height:300px;
	width:500px;
}

/*************************************************************************************/
/* POSITIONING */
.slider-gen-wrapper {
	top: 20px;
	left:50%;
	margin-left: -250px;
}

/*************************************************************************************/
/* Colors :) */
body {background-color: silver;}
.slider-gen-wrapper {background-color:white;}


/*************************************************************************************
	     			DEFAULT
			Do not change this
*************************************************************************************/
.slider-gen-wrapper {position: absolute;}
.slide {
	position:relative;}
.slide div {float: left;}
.slides-wrapper {overflow: hidden;}
